@use '../util' as *;

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: rem(1) solid transparent;
  border-radius: rem(8);
  padding-inline: rem(8);
  font-family: inherit;
  font-size: inherit;

  &-profile {
    display: flex;
    align-items: center;
    gap: rem(10);
  }

  &-close {
    height: rem(32);
    width: rem(32);
    border: 1px solid var(--clr-blue-600);
    svg {
      width: rem(16);
      height: rem(16);
    }
  }
}
