@use '../util' as *;

.form {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(12);
  }
  &-check {
    display: flex;
    align-items: center;
    gap: rem(12);
    height: rem(62);
    width: 100%;
    border-radius: rem(12);
    border: rem(2) solid var(--clr-blue-600);
    padding-inline: rem(20);

    &-input {
      height: rem(20);
      width: rem(20);
      accent-color: var(--clr-blue-600);
      border-color: var(--clr-blue-200);
    }

    &-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: rem(20);
      font-weight: 600;
      line-height: 140%;

      svg {
        height: rem(38);
        width: rem(38);
        margin-inline-start: auto;
      }
    }
  }
}
