@use '../util' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem(40);
  max-width: rem(1170);
  margin-inline: auto;

  &__logo {
    height: rem(40);
  }

  &__avatar {
    height: rem(40);
    width: rem(40);
    border-radius: 50%;
  }
}
