@use '../util' as *;

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(33, 33, 77, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__body {
    background: var(--gradient);
    border-radius: rem(16);
    width: 100%;
    padding: rem(32) rem(20);
    max-width: rem(600);
    margin-inline: rem(20);

    h2,
    p {
      font-weight: 700;
      line-height: 130%;
      letter-spacing: rem(-0.03);
    }

    h2 {
      font-size: rem(32);
    }

    p {
      font-size: rem(28);
    }
  }

  @include breakpoint(medium) {
    &__body {
      padding: rem(48) rem(48);

      h2 {
        font-size: rem(40);
      }

      p {
        font-size: rem(32);
      }
    }
  }
}
