@use '../util' as *;

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(33, 33, 77, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  &__body {
    background: var(--gradient);
    border-radius: rem(16);
    width: 100%;
    padding: rem(48) rem(40);
    max-width: rem(600);
  }
}
